{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}


{% block head_title %}
  {% translate "Velo Teams - Sign In" %}
{% endblock head_title %}
{% block inner %}


<!-- Block start -->
<section class="bg-white dark:bg-gray-900">
  <div class="grid lg:h-screen lg:grid-cols-2">
      <div class="flex items-center justify-center px-4 py-6 lg:py-0 sm:px-0">
          <form class="w-full max-w-md space-y-4 md:space-y-6 xl:max-w-xl" method="post" action="{% url 'account_login' %}">
            {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
          {% endif %}
              <h1 class="text-xl font-bold text-gray-900 dark:text-white">Welcome back</h1>
              <div class="items-center space-x-0 space-y-3 sm:flex sm:space-x-4 sm:space-y-0">
                  <a href="#"
                      class="w-full inline-flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                      <svg class="w-5 h-5 mr-2" viewBox="0 0 21 20" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <img href="https://www.vectorlogo.zone/logos/strava/strava-icon.svg"></img>
                          <defs>
                              <clipPath id="clip0_13183_10121">
                                  <rect width="20" height="20" fill="white" transform="translate(0.5)" />
                              </clipPath>
                          </defs>
                      </svg>
                      Sign in with Stava
                  </a>
                  
              </div>
              <div class="flex items-center">
                  <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
                  <div class="px-5 text-center text-gray-500 dark:text-gray-400">or</div>
                  <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
              </div>
              <div>
                {% csrf_token %}
                  <label for="email"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Username</label>
                  <input  name="{{ form.login.name }}" id="{{ form.login.id_for_label }}"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                      placeholder="Enter your email" required="">
              </div>
              <div>
                  <label for="password"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Password</label>
                  <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="••••••••"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                      required="">
              </div>
              <div class="flex items-center justify-between">
                  <div class="flex items-start">
                      <div class="flex items-center h-5">
                          <input id="remember" aria-describedby="remember" type="checkbox"
                              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                              required="">
                      </div>
                      <div class="ml-3 text-sm">
                          <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                      </div>
                  </div>
                  <a href="{% url 'account_reset_password' %}"
                      class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot
                      password?</a>
              </div>
              <div>{% if form.errors %}

                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <span class="sr-only">Info</span>
                  <div>
                    {{ form.errors }} 
                  </div>
                </div>
                {% endif %}</div>
              <button type="submit"
                  class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign
                  in to your account</button>
              <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                  Don't have an account? <a href="{{ signup_url }}"
                      class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
              </p>
          </form>
      </div>
      <div class="flex items-center justify-center px-4 py-6 bg-blue-600 lg:py-0 sm:px-0">
          <div class="max-w-md xl:max-w-xl">
              <a href="#" class="flex items-center mb-4 text-2xl font-semibold ">
                  {% comment %} <img class="w-8 h-8 mr-2" src=""
                      alt="logo"> {% endcomment %}
                  Velo Teams
              </a>
              <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight  xl:text-5xl">Explore
                  the world’s leading design portfolios.</h1>
              <p class="mb-4 font-light text-primary-200 lg:mb-8">Millions of designers and agencies around the
                  world showcase their portfolio work on Flowbite - the home to the world’s best design and
                  creative professionals.</p>
              <div class="flex items-center divide-x divide-primary-500">
                  <div class="flex pr-3 -space-x-4 sm:pr-5">
                      <img class="w-10 h-10 border-2 border-white rounded-full"
                          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
                          alt="bonnie avatar">
                      <img class="w-10 h-10 border-2 border-white rounded-full"
                          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                          alt="jese avatar">
                      <img class="w-10 h-10 border-2 border-white rounded-full"
                          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png"
                          alt="roberta avatar">
                      <img class="w-10 h-10 border-2 border-white rounded-full"
                          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/thomas-lean.png"
                          alt="thomas avatar">
                  </div>
                  <a href="#" class="pl-3  sm:pl-5 dark:text-white">
                      <span class="text-sm text-primary-200">Over <span
                              class="font-medium ">15.7k</span> Team's Registered</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Block end -->


  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <p>
      {% translate "Please sign in with one of your existing third party accounts:" %}
      {% if ACCOUNT_ALLOW_REGISTRATION %}
        {% blocktranslate trimmed %}
          Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:
        {% endblocktranslate %}
      {% endif %}
    </p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% translate "or" %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
  {% else %}
   
  {% endif %}
{% endblock inner %}
