{% load static tailwind_tags i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    {% block title %}
    VeloTeams
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="wrangling bike teams" />
  <meta name="author" content="Vincent Davis" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
  {% tailwind_css %}
  <!-- This file stores project-specific CSS -->
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% endblock css %}

  <!-- Le javascript
    ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <!-- place project specific Javascript in this file -->
  <script defer src="{% static 'js/project.js' %}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-9"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% endblock javascript %}

</head>

<body>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  <!-- Block content -->
  {% block content %}
  <p>Use this document as a way to quick start any new project.</p>
  {% endblock content %}

  <!-- /container -->
  {% block modal %}
  {% endblock modal %}

  {% block inline_javascript %}
  {% comment %}
  Script tags with only code, no src (defer by default). To run
  with a "defer" so that you run inline code:
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      /* Run whatever you want */
    });
  </script>
  {% endcomment %}
  {% endblock inline_javascript %}
  <script src="{% static 'js/app.bundle.js' %} "></script>

</body>

</html>