{% load static tailwind_tags i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    {% block title %}
    VeloTeams
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="wrangling bike teams" />
  <meta name="author" content="Vincent Davis" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
  {% tailwind_css %}
  <!-- This file stores project-specific CSS -->
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% endblock css %}

  <!-- Le javascript
    ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <!-- place project specific Javascript in this file -->
  <script defer src="{% static 'js/project.js' %}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-9"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% endblock javascript %}

</head>

<body>
  {% if messages %}
  {% for message in messages %}
  <div id="toast-top-left" class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg shadow top-5 left-5 dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800 {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
    <div class="text-sm font-normal">{{ message }}</div>
</div>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  <!-- Block content -->
  {% block content %}
  <p>Use this document as a way to quick start any new project.</p>
  {% endblock content %}

  <!-- /container -->
  {% block modal %}
  {% endblock modal %}

  {% block inline_javascript %}
  {% comment %}
  Script tags with only code, no src (defer by default). To run
  with a "defer" so that you run inline code:
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      /* Run whatever you want */
    });
  </script>
  {% endcomment %}
  {% endblock inline_javascript %}
  <script src="{% static 'js/app.bundle.js' %} "></script>


<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://veloteams.app" class="hover:underline">Veloteams</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
      </li>
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
      </li>
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
      </li>
      <li>
          <a href="#" class="hover:underline">Contact</a>
      </li>
  </ul>
  </div>
</footer>

</body>


</html>