{% extends 'base_landing.html' %}

{% block main %}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">    {% if object %}Update{% else %}Create{% endif %} Team        </h2>
        <form action="{% if object %}{% url 'teams:team_update' object.pk %}{% else %}{% url 'teams:team_create' %}{% endif %}" method="post">
            {% csrf_token %}
            <div>{% if form.errors %}

                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <span class="sr-only">Info</span>
                  <div>
                    {{ form.errors }} 
                  </div>
                </div>
                {% endif %}</div>
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">

                <div class="sm:col-span-2">
                    <label for="{{ form.team_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Team Name</label>
                    <input type="text" name="{{form.team_name.name}}" id="{{form.team_name.id}}" {% if object %} value="{{ form.team_name.value }}"{% endif %}  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type Team name" required="">
                </div>
                <div class="w-full">
                    <label for="{{ form.zp_id.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.zp_id.label }}</label>
                    <input type="text" name="{{form.zp_id.name}}" id="{{form.zp_id.id}}" {% if object %} value="{{ form.zp_id.value }}" {% endif %} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{ form.zp_id.placeholder }}" required="">
                </div>
                {% comment %} <div class="w-full">
                    <label for="{{ form.zw_id.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.zw_id.label }}</label>
                    <input type="number" name="{{form.zw_id.name}}" id="{{form.zw_id.id}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{ form.zw_id.placeholder }}" required="">
                </div> {% endcomment %}
              
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                {% if object %}Update{% else %}Create{% endif %} Team

            </button>
        </form>
    </div>
  </section>
{% endblock %}
